body            {background-color: rgb(80, 119, 247); width: 80%; margin: auto;}
h1              {text-align: center; font-size: 40px;}
h2              {text-align: center;}
img             {width: 200px; height: 200px;}
li              {margin: auto;}
table           {margin: auto;}
td              {background-color: rgb(163, 85, 236); border: 2px solid black;}
#lewo           {float: left; background-color: rgb(0, 255, 0); padding: 5px; width: 49%; height: 150px;}
#prawo          {float: right; background-color: red; padding: 5px; width: 49%; height: 150px;}
#JakSho         {width: 500px; height: 335px; text-align: center; padding: 7px; font-weight: bolder;}
#Youmuu         {width: 500px; height: 335px; text-align: center; padding: 7px; font-weight: bolder;}
#Zhonya         {width: 500px; height: 335px; text-align: center; padding: 7px; font-weight: bolder;}
#ZhonyabutAD    {width: 500px; height: 335px; text-align: center; padding: 7px; font-weight: bolder;}
